<div>
<header class="fixed  w-full items-center z-50 hidden md:block">
    <div  [ngClass]="isScrolled? 'flex flex-row justify-between items-center px-20 py-2 bg-[#0D0F10]' : 'flex flex-row justify-between items-center px-20 py-5' ">
      <div class="h-20 w-20"><img src="/images/mk_logo.png" alt=""></div>
      <nav>
        <ul class=" flex flex-row gap-10">
          <li routerLink="" class="text-slate-200  p-2 hover:bg-green-400 hover:rounded-full transition duration-300 cursor-pointer">Home</li>
          <li routerLink="work" class="text-slate-200  p-2 hover:bg-green-400 hover:rounded-full transition duration-300 cursor-pointer">Projets</li>
          <li routerLink="service" class="text-slate-200  p-2 hover:bg-green-400 hover:rounded-full transition duration-300 cursor-pointer">Service</li>
          <li routerLink="team" class="text-slate-200  p-2 hover:bg-green-400 hover:rounded-full transition duration-300 cursor-pointer">Team</li>
        </ul>
      </nav>
      <button class=" border border-white rounded-full py-2 px-5 text-slate-100">Get in touch</button>
    </div>
  </header>
  <div [ngClass]="isScrolled ? 'fixed block md:hidden w-full shadow-2xl  bg-[#0D0F10] transition duration-300 z-50': 'fixed block bg-opacity-20 md:hidden w-full z-50 ' ">
    <div class=" flex flex-row justify-between items-center p-4">
        <div><img  class=" h-10  w-10 rounded-full" src="/images/mk_logo.png" alt="logo"></div>
        <div><img (click)="modale.showModal()"  class=" h-10 w-10" src="images/Menu.png" alt=""></div>
    </div>
 </div>
 <app-menu-modale #modale/>
</div>
