<header>
    <div class="fixed flex flex-row justify-between w-full items-center px-20 py-5">
      <div><img src="" alt=""></div>
      <nav>
        <ul class=" flex flex-row gap-10">
          <li class="text-slate-200  p-2 hover:bg-green-400 hover:rounded-full transition duration-300 cursor-pointer">Projets</li>
          <li class="text-slate-200  p-2 hover:bg-green-400 hover:rounded-full transition duration-300 cursor-pointer">Service</li>
          <li class="text-slate-200  p-2 hover:bg-green-400 hover:rounded-full transition duration-300 cursor-pointer">Blog</li>
        </ul>
      </nav>
      <button class=" border border-white rounded py-2 px-5 text-slate-100">Get in touch</button>
    </div>
  </header>
