<div *ngIf="isVisible" class="fixed inset-0 bg-black bg-opacity-60 flex justify-center items-center z-50">
    <div #modalWrapper class="bg-gray-900 p-8 rounded-2xl w-[90%] max-w-md shadow-lg border border-green-500 relative">
      <button (click)="closeModal()" class="absolute top-4 right-4 text-gray-400 hover:text-green-400 transition">✖</button>
  
      <h2 class="text-2xl font-bold text-white mb-6 text-center">
        Contactez <span class="text-green-400">Sparkcode</span>
      </h2>
  
      <!-- Ajoute ici tes options de contact -->

      <div class="flex flex-col gap-4">
        <!-- Email -->
        <a
          href="mailto:sparkcodecode.com"
          class="flex items-center gap-4 bg-gray-800 hover:bg-green-500 hover:text-black transition rounded-xl p-4 text-white shadow-lg"
        >
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-400 group-hover:text-black" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M16 12l-4-4-4 4m0 0l4 4 4-4" />
          </svg>
          <div>
            <p class="font-semibold">Par Email</p>
            <p class="text-sm text-gray-400">contact&commat;.com</p>
          </div>
        </a>
  
        <!-- Téléphone -->
        <a
          href="tel:+243970607351"
          class="flex items-center gap-4 bg-gray-800 hover:bg-green-500 hover:text-black transition rounded-xl p-4 text-white shadow-lg"
        >
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-400 group-hover:text-black" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 5a2 2 0 012-2h3l2 4h8a2 2 0 012 2v3l-4 2v2a2 2 0 01-2 2h-2l-2 4H5a2 2 0 01-2-2V5z" />
          </svg>
          <div>
            <p class="font-semibold">Par Téléphone</p>
            <p class="text-sm text-gray-400">+1 234 567 89</p>
          </div>
        </a>
        <a
          href="https://wa.me/123456789"
          target="_blank"
          class="flex items-center gap-4 bg-gray-800 hover:bg-green-500 hover:text-black transition rounded-xl p-4 text-white shadow-lg"
        >
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-400 group-hover:text-black" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M17 8h2a2 2 0 012 2v8a2 2 0 01-2 2h-2M7 8H5a2 2 0 00-2 2v8a2 2 0 002 2h2m10-14H7a2 2 0 00-2 2v0a2 2 0 002 2h10a2 2 0 002-2v0a2 2 0 00-2-2z" />
          </svg>
          <div>
            <p class="font-semibold">Via WhatsApp</p>
            <p class="text-sm text-gray-400">+1 234 567 89</p>
          </div>
        </a>
      </div>
    </div>
  </div>