<div *ngIf="isVisible" class="fixed inset-0 bg-black bg-opacity-60 flex justify-center items-center z-50">
    <div #modalWrapper class="bg-gray-900 p-8 rounded-2xl w-[90%] max-w-md shadow-lg border border-green-500 relative">
      <button (click)="closeModal()" class="absolute top-4 right-4 text-gray-400 hover:text-green-400 transition">✖</button>
  
      <h2 class="text-2xl font-bold text-white mb-6 text-center">
        Get in Touch with <span class="text-green-400">Sparkcode</span>
      </h2>
  
      <!-- Ajoute ici tes options de contact -->

      <div class="flex flex-col gap-4">
        <!-- Email -->
        <a
          href="mailto:sparkcodecode@gmail.com"
          class="flex items-center gap-4 bg-gray-800 hover:bg-green-200 hover:text-black transition rounded-xl p-4 text-white shadow-lg"
        >
         <img src="/images/mail.svg" alt="">
          <div>
            <p class="font-semibold">By Email</p>
            <p class="text-sm text-gray-400">contact&commat;.com</p>
          </div>
        </a>
  
        <!-- Téléphone -->
        <a
          href="tel:+243970607351"
          class="flex items-center gap-4 bg-gray-800 hover:bg-green-200 hover:text-black transition rounded-xl p-4 text-white shadow-lg"
        >
          <img src="/images/phone1.svg" alt="">
          <div>
            <p class="font-semibold">By phone</p>
            <p class="text-sm text-gray-400">+243970607351</p>
          </div>
        </a>
        <a
          href="https://wa.me/0970607351"
          target="_blank"
          class="flex items-center gap-4 bg-gray-800 hover:bg-green-200 hover:text-black transition rounded-xl p-4 text-white shadow-lg"
        >
          <img src="/images/message-circle.svg" alt="">
          <div>
            <p class="font-semibold">Via WhatsApp</p>
            <p class="text-sm text-gray-400">+243970607351</p>
          </div>
        </a>
      </div>
    </div>
  </div>