<main *ngIf="isVisible" class=" h-screen w-full fixed inset-0 transform transition-all duration-300 ease-in-out flex justify-center items-center bg-slate-900/80 backdrop-blur-sm z-50 overflow-auto p-0 sm:p-6 md:p-0">
    <div class="bg-white h-full w-full">
        <button 
        (click)="closeModal()" 
        class="absolute top-4 lg:right-4 left-4 p-2 bg-green-600 rounded-full text-slate-400 hover:text-black hover:bg-slate-100 transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
        aria-label="Fermer">
        <svg class="w-5 h-5 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
        <iframe src="https://calendly.com/sparkcodecode/30min" class="h-full w-full" ></iframe>
    </div>
</main>

